// /* ==========================================================================
//    Syntax highlighting
//    ========================================================================== */

// div.highlighter-rouge,
// figure.highlight {
//   position: relative;
//   margin-bottom: 1em;
//   background: $base00;
//   color: $base05;
//   font-family: $monospace;
//   font-size: $type-size-6;
//   line-height: 1.6;
//   border-radius: $border-radius;

//   > pre,
//   pre.highlight {
//     margin: 0;
//     padding: 1em 1.35em;
//   }
// }

// .highlight table {
//   margin-bottom: 0;
//   font-size: 1em;
//   border: 0;

//   td {
//     padding: 0;
//     width: calc(100% - 1em);
//     border: 0;

//     /* line numbers*/
//     &.gutter,
//     &.rouge-gutter {
//       padding-right: 1em;
//       width: 1em;
//       color: $base04;
//       border-right: 1px solid $base04;
//       text-align: right;
//     }

//     /* code */
//     &.code,
//     &.rouge-code {
//       padding-left: 1em;
//     }
//   }

//   pre {
//     margin: 0;
//   }
// }

// .highlight pre {
//   width: 100%;
// }

// .highlight .hll {
//   background-color: $base06;
// }
// .highlight {
//   .c {
//     /* Comment */
//     color: $base04;
//   }
//   .err {
//     /* Error */
//     color: $base08;
//   }
//   .k {
//     /* Keyword */
//     color: $base0e;
//   }
//   .l {
//     /* Literal */
//     color: $base09;
//   }
//   .n {
//     /* Name */
//     color: $base05;
//   }
//   .o {
//     /* Operator */
//     color: $base0c;
//   }
//   .p {
//     /* Punctuation */
//     color: $base05;
//   }
//   .cm {
//     /* Comment.Multiline */
//     color: $base04;
//   }
//   .cp {
//     /* Comment.Preproc */
//     color: $base04;
//   }
//   .c1 {
//     /* Comment.Single */
//     color: $base04;
//   }
//   .cs {
//     /* Comment.Special */
//     color: $base04;
//   }
//   .gd {
//     /* Generic.Deleted */
//     color: $base08;
//   }
//   .ge {
//     /* Generic.Emph */
//     font-style: italic;
//   }
//   .gh {
//     /* Generic.Heading */
//     color: $base05;
//     font-weight: bold;
//   }
//   .gi {
//     /* Generic.Inserted */
//     color: $base0b;
//   }
//   .gp {
//     /* Generic.Prompt */
//     color: $base04;
//     font-weight: bold;
//   }
//   .gs {
//     /* Generic.Strong */
//     font-weight: bold;
//   }
//   .gu {
//     /* Generic.Subheading */
//     color: $base0c;
//     font-weight: bold;
//   }
//   .kc {
//     /* Keyword.Constant */
//     color: $base0e;
//   }
//   .kd {
//     /* Keyword.Declaration */
//     color: $base0e;
//   }
//   .kn {
//     /* Keyword.Namespace */
//     color: $base0c;
//   }
//   .kp {
//     /* Keyword.Pseudo */
//     color: $base0e;
//   }
//   .kr {
//     /* Keyword.Reserved */
//     color: $base0e;
//   }
//   .kt {
//     /* Keyword.Type */
//     color: $base0a;
//   }
//   .ld {
//     /* Literal.Date */
//     color: $base0b;
//   }
//   .m {
//     /* Literal.Number */
//     color: $base09;
//   }
//   .s {
//     /* Literal.String */
//     color: $base0b;
//   }
//   .na {
//     /* Name.Attribute */
//     color: $base0d;
//   }
//   .nb {
//     /* Name.Builtin */
//     color: $base05;
//   }
//   .nc {
//     /* Name.Class */
//     color: $base0a;
//   }
//   .no {
//     /* Name.Constant */
//     color: $base08;
//   }
//   .nd {
//     /* Name.Decorator */
//     color: $base0c;
//   }
//   .ni {
//     /* Name.Entity */
//     color: $base05;
//   }
//   .ne {
//     /* Name.Exception */
//     color: $base08;
//   }
//   .nf {
//     /* Name.Function */
//     color: $base0d;
//   }
//   .nl {
//     /* Name.Label */
//     color: $base05;
//   }
//   .nn {
//     /* Name.Namespace */
//     color: $base0a;
//   }
//   .nx {
//     /* Name.Other */
//     color: $base0d;
//   }
//   .py {
//     /* Name.Property */
//     color: $base05;
//   }
//   .nt {
//     /* Name.Tag */
//     color: $base0c;
//   }
//   .nv {
//     /* Name.Variable */
//     color: $base08;
//   }
//   .ow {
//     /* Operator.Word */
//     color: $base0c;
//   }
//   .w {
//     /* Text.Whitespace */
//     color: $base05;
//   }
//   .mf {
//     /* Literal.Number.Float */
//     color: $base09;
//   }
//   .mh {
//     /* Literal.Number.Hex */
//     color: $base09;
//   }
//   .mi {
//     /* Literal.Number.Integer */
//     color: $base09;
//   }
//   .mo {
//     /* Literal.Number.Oct */
//     color: $base09;
//   }
//   .sb {
//     /* Literal.String.Backtick */
//     color: $base0b;
//   }
//   .sc {
//     /* Literal.String.Char */
//     color: $base05;
//   }
//   .sd {
//     /* Literal.String.Doc */
//     color: $base04;
//   }
//   .s2 {
//     /* Literal.String.Double */
//     color: $base0b;
//   }
//   .se {
//     /* Literal.String.Escape */
//     color: $base09;
//   }
//   .sh {
//     /* Literal.String.Heredoc */
//     color: $base0b;
//   }
//   .si {
//     /* Literal.String.Interpol */
//     color: $base09;
//   }
//   .sx {
//     /* Literal.String.Other */
//     color: $base0b;
//   }
//   .sr {
//     /* Literal.String.Regex */
//     color: $base0b;
//   }
//   .s1 {
//     /* Literal.String.Single */
//     color: $base0b;
//   }
//   .ss {
//     /* Literal.String.Symbol */
//     color: $base0b;
//   }
//   .bp {
//     /* Name.Builtin.Pseudo */
//     color: $base05;
//   }
//   .vc {
//     /* Name.Variable.Class */
//     color: $base08;
//   }
//   .vg {
//     /* Name.Variable.Global */
//     color: $base08;
//   }
//   .vi {
//     /* Name.Variable.Instance */
//     color: $base08;
//   }
//   .il {
//     /* Literal.Number.Integer.Long */
//     color: $base09;
//   }
// }

// .gist {
//   th, td {
//     border-bottom: 0;
//   }
// }

.highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  color: #faf6e4;
  background-color: #122b3b;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.9em;
  line-height: 1.6;
  border-radius: 4px;
  overflow: hidden;
}
div.highlighter-rouge>pre, div.highlighter-rouge pre.highlight, figure.highlight>pre, figure.highlight pre.highlight {
  margin: 0;
  padding: 1em 1.35em;
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;
}
/* line numbers*/
.highlight table.gutter,
.highlight table.rouge-gutter {
  padding-right: 1em;
  width: 1em;
  color: #b2ccd6;
  border-right: 1px solid #b2ccd6;
  text-align: right;
}


/* code */
.highlight pre {
  width: 100%;
}

.highlight .hll {
  background-color: #eeffff;
}

.highlight table.code,
.highlight table.rouge-code {
  padding-left: 1em;
}

.highlight table td {
  width: calc(100% - 1em);
  padding: 5px;
  border: 0;
}
.highlight table pre { margin: 0; }
.highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
.highlight .cp {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
.highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
.highlight .k {
  color: #b2fd6d;
  font-weight: bold;
}
.highlight .kd, .highlight .kv {
  color: #29b0ff;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #9fe4e9;
  font-weight: bold;
}
.highlight .p, .highlight .pi {
  color: #9fe4e9;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #f6dd62;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
.highlight .kc {
  color: #f696db;
  font-weight: bold;
}
.highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
.highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
.highlight .kt {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .no {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .nc {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .nd {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .nn {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .bp {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .ne {
  color: #f6dd62;
  font-weight: bold;
}
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
.highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
.highlight .ld {
  color: #f696db;
  font-weight: bold;
}
.highlight .ss {
  color: #f696db;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .sa {
  color: #29b0ff;
  font-weight: bold;
}
.highlight .se {
  color: #9fe4e9;
  font-weight: bold;
}
.highlight .sc {
  color: #9fe4e9;
  font-weight: bold;
}
.highlight .si {
  color: #9fe4e9;
  font-weight: bold;
}
.highlight .nb {
  color: #0bdba1;
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .go {
  color: #BBBBBB;
}
.highlight .nf, .highlight .fm {
  color: #a8e1fe;
}
.highlight .py {
  color: #a8e1fe;
}
.highlight .na {
  color: #a8e1fe;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}